.root {
    -fx-background-color: #f4f4f4;
}

.login-box {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.button-primary {
    -fx-background-color: #4682B4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
}

.button-secondary {
    -fx-background-color: #2E8B57;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
}

.table-view {
    -fx-border-color: lightgray;
}